<!DOCTYPE html>
<head>
   <title>ROBOT ARM CONTROL Manual</title>
   <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<style>

* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}
body {
font-family: Arial;
background-color: #3498DB;
padding: 50px;
}

</style>


<body>
 <div class="container-fluid" style="background-color: #FFF;border-radius: 5px">
  <h1>ROBOT ARM CONTROL</h1>

<div class="">
<h3>Grapler</h3> 
    <div class="col-md-2">
        
        <a onmousedown="move('Grap/0')" onmouseup="stop('Grap')" class="btn btn-block btn-lg btn-primary" role="button">Open</a> 
    </div>
    <div class="col-md-2">
        <a onmousedown="move('Grap/1')" onmouseup="stop('Grap')" class="btn btn-block btn-lg btn-primary" role="button">Close</a> 
    </div>
    <div class="row">
      
   <div class="col-md-2">
        <a onmousedown="move('Ankle_Turn/0')" onmouseup="stop('Ankle_Turn')" class="btn btn-block btn-lg btn-primary" role="button"><-</a> 
    </div>
    <div class="col-md-2">
        <a onmousedown="move('Ankle_Turn/1')" onmouseup="stop('Ankle_Turn')" class="btn btn-block btn-lg btn-primary" role="button">-></a> 
    </div>
    </div>
</div>
<div class=" ">
 <h3>Ankle</h3> 
    <div class="col-md-2">
        <a onmousedown="move('Ankle/0')" onmouseup="stop('Ankle')" class="btn btn-block btn-lg btn-primary" role="button">Open</a> 
    </div>
    <div class="col-md-2">
        <a onmousedown="move('Ankle/1')" onmouseup="stop('Ankle')" class="btn btn-block btn-lg btn-primary" role="button">Close</a> 
    </div></div>
    <div class=" ">
 <h3>Base</h3> 
    <div class="col-md-2">
        <a onmousedown="move('Base/0')" onmouseup="stop('Base')" class="btn btn-block btn-lg btn-primary" role="button"><--</a> 
    </div>
    <div class="col-md-2">
        <a onmousedown="move('Base/1')" onmouseup="stop('Base')" class="btn btn-block btn-lg btn-primary" role="button">--></a> 
    </div>
</div>

<br><br><br><br>
  <h1> Manual</h1>
   {% for pin in pins %}
   <h2>{{ pins[pin].name }}
   {% if pins[pin].state == true %}
      is currently <strong>off</strong></h2><div class="row"><div class="col-md-2">
      <a href="/manual/{{pin}}/off" class="btn btn-block btn-lg btn-default" role="button">Turn On</a></div></div>
   {% else %}
      is currently <strong>on</strong></h2><div class="row"><div class="col-md-2">
      <a href="/manual/{{pin}}/on" class="btn btn-block btn-lg btn-primary" role="button">Turn off</a></div></div>
   {% endif %}
   {% endfor %}


</div>
</body>

<script>


 



function move(e){
    
     $.ajax({url: "/"+e, success: function(result){
         
    }});
    
}
function stop(e){
    
     $.ajax({url: "/"+e+"/x", success: function(result){

     }});
}




 

</script>
 
</html>